.field-button {
  border: 1px solid;
  padding: 5px;
  margin: 7px 10px;
  border-radius: 2px;
  transition: ease-in-out 0.3s;
}

.field-button:hover {
  color: white;
  background-color: #3c829a;
}

.field-button.selected {
  background-color: #3c829a;
  color: white;
}

.Name-container,
.email-container {
  position: relative;
}

label {
  position: relative;
  top: 0;
  left: 0;
}
input {
  transition: ease-in-out 0.3s;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #3c829a;
  color: black;
}

input:focus + label,
textarea:focus + label {
  color: #3c829a;
  font-weight: 600;
}
