.nav-bar {
  z-index: 10;
  opacity: 0;
  width: 100vw;
  position: absolute;
  top: -110vh;
  left: 0;
  background-color: #0b0b0c;
  /* -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px); */
  color: white;
  transition: ease-in-out 0.4s;
}
.nav-bar.open {
  opacity: 1; /* Show navbar when open */
  pointer-events: auto; /* Allow interaction when visible */
  top: 0;
}
nav {
  font-size: 5vh;
  position: relative;
}
ul {
  position: relative;
  bottom: 5rem;
}

ul li {
  top: -1px;
  margin: 15vh 0;
}

ul li a:hover,
ul li a:focus {
  color: #25c0e7;
}

.close-button-container {
  position: relative;
  padding: 2rem;
}

.close-Button {
  font-size: 8vw;
  width: max-content;
  position: absolute;
  padding: 0.1rem 0.7rem;
  padding-bottom: 0rem;
  border-radius: 15%;
  outline: solid 0.1rem white;
  top: 1rem;
  right: 1rem;
  text-align: center;
}

.bars {
  font-size: 8vw;
  width: 100vw;
  display: flex;
  background-color: #0b0b0c;
  justify-content: end;
  position: absolute;
  top: 0;
  left: 0;
}

.fa-bars {
  color: white;
  margin-right: 5vw;
  margin-top: 1rem;
}
